# Toolchain
utils/toolchain

# Doxygen
doc/html
doxygen.output

# Build Files
bin/
lib/
*.a
*.img
*.o

# Output Files
nanvix-cluster*
stdout.*

# Ctags
tags

# IDEs
*.json
*.swp
*.swo
*.clangd/
*.vscode/

# Barelib Headers
include/machine/_default_types.h
include/nanvix/barelib.h
include/posix/decl.h
include/posix/stdarg.h
include/posix/stddef.h
include/posix/stdint.h
include/posix/sys/_intsup.h
include/posix/sys/features.h

# Excludes
!img/*
